<launch>
    <arg name= "deep_planner" default= "false"/>
    <arg name= "bag_name" default=""/>

    <!-- Loading deburring parameter file -->
    <rosparam command="load" file="$(find deburring_ros_interface)/config/settings_ros_deburring.yaml"/>
    <!-- Loading URDF and SRDF from example-robot-data -->
    <param name="urdf" value="$(find example-robot-data)/robots/talos_data/robots/talos_reduced.urdf"/>
    <param name="srdf" value="$(find example-robot-data)/robots/talos_data/srdf/talos.srdf"/>

    <group if = "$(arg deep_planner)">
        <include file="$(find deburring_deep_planner)/launch/deep_planner.launch"/>
    </group>

    <node pkg="deburring_ros_interface" type="ros_deburring" name="ros_deburring" output="screen">
        <param name= "deep_planner"
             value= "$(arg deep_planner)"/>
    </node>

    <group unless = "$(eval arg ('bag_name') == '')">
        <node pkg="rosbag"
              type="record"
              name="rosbag_record_introspection"
              args="-o $(env PWD)/$(arg bag_name).bag /introspection_data/names /introspection_data/values /tf"/>
    </group>
</launch>